<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title> monkey site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap4/css/bootstrap.min.css">
  <script src="/static/bootstrap4/js/jquery-3.5.1.min.js"></script>
  <script src="/static/bootstrap4/js/bootstrap.bundle.js"></script>
  <script src="/static/bootstrap4/js/bootstrap.min.js"></script>
    {%block head%}{%endblock head%}
</head>
<body>
{%block body%}{%endblock body%}
<footer class="container ">
  <p class="text-center">CopyRight © 2020 维宁尔（中国）电子有限公司 All Rights Reserved</p>
</footer>
</body>
</html>