{%extends 'base_foot.html'%}

{%block head%}
	<style type="text/css">
					<!--* {-->
						<!--box-sizing: border-box;-->
					<!--}-->

					.capl_text{

							height: 560px;
							width: 100%;
							/*border: 1px solid gold;*/
							/*padding: 20px;*/
							margin:  auto;
							background: #73dfbe45;
							position: relative;

					}
					.title{
							height: 30px;
							width: 100%;
							/*border: 1px solid gold;*/
							padding: 20px 0px;
							margin:  auto;
							background: #73dfbe45;
							position: relative;

					}
					.title h3{
						  width: 100%;
						  text-align: center;
						  font:20px/30px 'Mircosoft Yahei';
						  color: #000;
					}
					.menu{
						display: -webkit-flex;
						height: 40px;
						width: 100%;
						border: 1px solid green;
						<!--padding: 4px;-->
						margin: auto;
						background: #efec1d78;
						/*text-align: center;*/
						position: relative;
					}
					.menu input{
						display:inline;
						float:left;
						width: 400px;
						height: 40px;
						font:20px/40px 'Mircosoft Yahei';
						text-align: center;
						position: relative;
						border: none;
						padding: 0px;
						margin:  auto 45px
					}
					.text{
							height: 38px;
					   }

					.button,.capl_submit{
						  	background-color: #4CAF50;
						  	color: white;
					}

					.text_area{
							display: -webkit-flex;
							height: 430px;
							width: 100%;
							/*border: 1px solid red;*/
							padding: 5px 5px;
							margin:  10px auto;
							background: #e7b84f;
							position: relative;
					}
					.text_area textarea{
							display: inline;
							float: left;
							position: relative;
						  	width: 45%;
						  	height:380px;
							border: 0px solid green;
							padding: 5px;
							margin: 20px 30px;
					}
	</style>

    <script type="text/javascript">
    	$(document).ready(function()
    	{
        var file = document.getElementById("file");
        var text = document.getElementById("text");
 
        $("#button").click(function()
        {
            //alert("hahaha");
            file.click();
        });
        file.onchange = type;
        function type()
        {text.value = file.value;}
    });

	</script>

{%endblock head%}
{%block body%}
		<div class="capl_text">
			<form action="/user/html_to_doors_handle/" method="post" enctype="multipart/form-data">
				{%csrf_token%}
				<div class="title">
					<h3> HTML Report Transform To Doors Specification </h3>
				</div>

				<div class="menu">
					 <input type="text" name="text"  class="text" id="text" readonly="readonly" placeholder="选择HTML报告文件">
					 <input type="button" name="button" class="button" id="button" value="选择文件">
					 <input type="submit" id="capl_submit" value="转换" class="capl_submit">
					 <input type="file" id="file" name="file" class="file" style="display:none">
				</div>

				<div class="text_area">
					<textarea cols="100" rows="10" name="input" class="capl_input" readonly="readonly" placeholder="Doors Specification">{{text_intput}}</textarea>
					<textarea cols="100" rows="10" name="output" class="capl_output" readonly="readonly" placeholder="CAPL Description">{{text_output}}</textarea>
				</div>

			</form>
		</div>

{%endblock body%}