<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title> monkey site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap4/css/bootstrap.min.css">
  <script src="/static/bootstrap4/js/jquery-3.5.1.min.js"></script>
  <script src="/static/bootstrap4/js/bootstrap.bundle.js"></script>
  <script src="/static/bootstrap4/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/monkey/capl_des_handle/" method="post">
	{%csrf_token%}
  <h3 class="text-center text-primary ">Doors Test Specification Transform To CAPL Purpose Steps</h3>
	<br>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">输入区：</label>
    <textarea class="form-control capl_input border border-primary text-info" name="input" id="exampleFormControlTextarea1 " rows="10">{{text_intput}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-sm btn-block">转换</button>
  <div class="form-group">
	<label for="exampleFormControlTextarea2">输出区：</label>
	<p class="card-text capl_output border border-primary" name="output"  style="height:200px;" >{{text_output}}</p>
  </div>
</form>
</body>
</html>